.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*gap: 10px;*/
}